<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   <!--配置整合mybatis过程-->
    <!--1:配置数据库相关参数properties属性:${url}-->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <!--2.数据库连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--配置连接池属性-->
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
        <!--        &lt;!&ndash;c3p0连接池的私有属性&ndash;&gt;-->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!--初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
        <property name="initialPoolSize" value="20"/>
        <!--&lt;!&ndash;关闭连接后不自动commit&ndash;&gt;-->
        <property name="autoCommitOnClose" value="false"/>
        <!--两次连接中间隔时间，单位毫秒。Default: 1000 -->
        <property name="acquireRetryDelay" value="100"/>
        <!--&lt;!&ndash;获取连接超时时间&ndash;&gt;-->
        <property name="checkoutTimeout" value="500"/>
        <!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
        <property name="acquireIncrement" value="10"/>
        <!--&lt;!&ndash;当获取连接失败重试次数&ndash;&gt;-->
        <property name="acquireRetryAttempts" value="30"/>
        <!--c3p0将建一张名为Test的空表，并使用其自带的查询语句进行测试。如果定义了这个参数那么
属性preferredTestQuery将被忽略。你不能在这张Test表上进行任何操作，它将只供c3p0测试
使用。Default: null-->
        <property name="automaticTestTable" value="Test"/>
        <!--JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements
属于单个connection而不是整个连接池。所以设置这个参数需要考虑到多方面的因素。
如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0-->
        <property name="maxStatements" value="100"/>

        <!--maxStatementsPerConnection定义了连接池内单个连接所拥有的最大缓存statements数。Default: 0 -->
        <property name="maxStatementsPerConnection" value="10"/>

        <!--每60秒检查所有连接池中的空闲连接。Default: 0 -->
        <property name="idleConnectionTestPeriod" value="3"/>
    </bean>
     <!--3.配置sqlsessionFactory对象-->
      <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
          <!--注入数据库连接池-->
          <property name="dataSource" ref="dataSource"/>
          <!--配置MyBatis全局配置文件:mybatis-config.xml-->
          <property name="configLocation" value="classpath:mybatis-config.xml"/>
          <!--扫描entity包 使用别名-->
          <property name="typeAliasesPackage" value="com.tv.payment.entity"/>
          <!--扫描sql配置文件：mapper需要的xml文件-->
          <property name="mapperLocations" value="classpath:mapper/*.xml"/>
      </bean>
      <!--4：配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--给出需要扫描Dao接口包-->
        <property name="basePackage" value="com.tv.payment.dao"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    </beans>